#score-bar {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#quiz-time {
    text-align: right;
}

#view-hscore {
    color: black;
    overflow: hidden;
}

#score-title {
    overflow: hidden;
}

#main-title {
    text-align: center;
    margin-bottom: 20px;
}

#question-box {
    text-align: center;
    margin-bottom: 30px;
}

#quiz-body {
    text-align: center;
}

#start-quiz-btn {
    color: black;
}

#buttons {
    text-align: center;
}

#quizBody {
    text-align: center;
    margin-bottom: 20px;
}